@model SistemaMatricula.Models.Setor
@{
    ViewData["Title"] = "Detalhar";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <h4>Setor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)

        </dd>

    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Editar</a>
    <a asp-action="Index">Voltar para a Lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
